<p id="notice"><%= notice %></p>

<div class="container">
  <div class="row">

<!-- プロフィール＆投稿画面 -->
    <div class="col-xs-3">
        <div class="profile-container">
          <h2>User info</h2>
          <%= attachment_image_tag @user, :profile_image, :fill, 100, 100, format: 'jpeg', class: "pull-left profile-img", fallback: "no_image.jpg" %>

           <table class="table tables-bordered">
            <tbody>
              <tr>
                <td>Name</td>
                <td><%= @user.name %></td>
              </tr>
              <tr>
                <td>Introduction</td>
                <td><%= @user.introduction %></td>
              </tr>
            </tbody>
           </table>
           <% if @user.id == current_user.id %>
            <%= link_to "", edit_user_path(@user), class: 'col-xs-12 btn btn-default glyphicon glyphicon-wrench' %>
          <% end %>
        </div>

        <div class="new_post-container">
          <h2>New book</h2>
        <%= form_for(@booknew, url: {controller: 'books', action: 'create' }) do |f| %>
             <div class="field">
               <%= f.label :title %><br>
               <%= f.text_field :title, id: :book_title, class: 'col-xs-12' %>
             </div>
             <div class="field">
               <%= f.label :Opinion %><br>
               <%= f.text_area :body, id: :book_body, class: 'col-xs-12' %>
             </div>
             <div class="actions">
               <%= f.submit(class: 'btn btn-primary col-xs-12') %>
             </div>
        <% end %>
        </div>
    </div>
<!-- ↑ここまで -->
    <div class="col-xs-9">
      <h2>Book detail</h2>
    <table class="table">


      <tbody>
          <tr>
            <td><%= link_to @book.user do %>
              <%= attachment_image_tag @book.user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg", size:'100x100' %>
              <br><%= @user.name %>
              <% end %>
            </td>
            <td><%= @book.title %></td>
            <td><%= @book.body %></td>
            <% if @book.user == current_user %>
              <td><%= link_to "Edit", edit_book_path(@book), class: "btn-sm btn-success" %></td>
  				    <td><%= link_to "Destroy", book_path(@book), method: :delete, "data-confirm" => "Are you sure?", class: "btn-sm btn-danger" %></td>
			      <% end %>
          </tr>
      </tbody>
    </table>
    </div>
  </div>
</div>
